@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: 'Open Sans', sans-serif;
    /* color: white; */
    /* background-color: black; */
}

header {
    margin-bottom: 20px;
}

progress {
    width: 80%;
}

/* div {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
} */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: auto;
  }

/* li {
    border-style: solid;
    border-color: black;
    border-width: 1px;
} */

#chart_panel {
    float: left;
    width: 150px;
    margin: 10px;
}

#chart {
    background: #e6f9f3;
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.chartText {
    position: relative;
    text-align: center;
    top: 40px;
    padding: 0px;
    margin: 0px;
    color: #21ce99;
}

#info_panel {
    display: inline-block;
    margin: 25px 25px 0px 0px;
    padding-right: 25px;
}

#bar_charts {
    width: 100%;
    display: inline-block;
}

#container {
    height: 900px;
    width: 676px;
}

.lineChart {
    width: 100%;
    padding: 5px;
    margin: 5px;
    /* border-style: solid; */
    /* border-color: black; */
    border-width: 1px;
}

.chartPercent {
    float: right;
}

.summary {
    width: 150px;
    vertical-align: top;
    float:left;
    background-color: #fafafa;
    margin: 20px;
}

.summary_source {
    color: #cbcbcd;
}

